# Instructions for Using the Translation Workflow:
# Detailed guidelines for utilizing the translation workflow can be found in Section 5.12
# of our documentation: [How We Work](https://newfold-labs.github.io/how-we-work/5.12-crowdin-translation-workflow.html).

name: Crowdin Download Action

on:
  workflow_call:
    inputs:
      base_branch:
        description: 'Base branch for the pull request'
        required: false
        default: 'main'
        type: string
      CROWDIN_PROJECT_ID:
        required: true
        type: string
    secrets:
      CROWDIN_PERSONAL_TOKEN:
        required: true
      NEWFOLD_ACCESS_TOKEN:
        required: true

# Disable permissions for all available scopes by default.
# Any needed permissions should be configured individually for each job.
permissions: {}

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: crowdin action
        uses: crowdin/github-action@2cc7959c565767d6bc118118d6df3b63bf361370 # v2.6.1
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          localization_branch_name: l10n_crowdin_translations
          create_pull_request: true
          auto_approve_imported: true
          pull_request_title: 'New Crowdin Translations'
          pull_request_body: 'New Crowdin translations by [Crowdin GH Action](https://github.com/crowdin/github-action)'
          pull_request_base_branch_name: ${{ inputs.base_branch }}

        env:
          # A classic GitHub Personal Access Token with the 'repo' scope selected (the user should have write access to the repository).
          GITHUB_TOKEN: ${{ secrets.NEWFOLD_ACCESS_TOKEN }}

          # A numeric ID, found at https://crowdin.com/project/<projectName>/tools/api
          CROWDIN_PROJECT_ID: ${{ inputs.CROWDIN_PROJECT_ID }}

          # Visit https://crowdin.com/settings#api-key to create this token
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
