name: Reusable Cloudflare Worker Deployment Workflow
on:
  workflow_call:
    inputs:
      npm-install:
        description: 'Whether to run npm install before deploying the Worker.'
        required: false
        type: boolean
        default: false
    secrets:
      CLOUDFLARE_ACCOUNT_ID:
        description: 'Cloudflare Account ID where the Worker will be deployed.'
        required: true
      CLOUDFLARE_API_TOKEN:
        description: 'Cloudflare API token with permissions needed to deploy Workers.'
        required: true

# Disable permissions for all available scopes by default.
# Any needed permissions should be configured individually for each job.
permissions: {}

jobs:
  deploy:
    name: Deploy Cloudflare Worker
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      # When present, an `.nvmrc` file will be used to determine the desired version of Node.js.
      # The `package.json` file is used as a fallback otherwise.
      - name: Set up Node.js
        if: ${{ inputs.npm-install }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ${{ hashFiles( '.nvmrc' ) != '' && '.nvmrc' || 'package.json' }}
          package-manager-cache: false

      - name: Install npm dependencies
        if: ${{ inputs.npm-install }}
        run: npm ci

      - name: Build & deploy Worker
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
